{% extends "base.html" %}

{% block conteudo %}

<h2>{{ instrutor.nome }}</h2>

<hr>

<div class="card shadow">

<div class="card-header">

Dados do Instrutor

</div>

<div class="card-body">

<p><b>Email:</b> {{ instrutor.email }}</p>

<p><b>Telefone:</b> {{ instrutor.telefone }}</p>

<p><b>CREF:</b> {{ instrutor.cref }}</p>

<p><b>Especialidade:</b> {{ instrutor.especialidade }}</p>

</div>

</div>

<br>

<div class="card shadow">

<div class="card-header">

Treinos Responsáveis

</div>

<div class="card-body">

<ul>

{% for treino in treinos %}

<li>

{{ treino.nome }}

</li>

{% else %}

<li>

Nenhum treino encontrado.

</li>

{% endfor %}

</ul>

</div>

</div>

{% endblock %}